<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Search</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>

  <body>
    <header>
      <h2>Search Users</h2>
    </header>

    <main class="container">
      <div>
        <!-- Flash messages section -->
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <ul class="flashes">
          {% for category, message in messages %}
          <li class="alert alert-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}

        <!-- User Search Form -->
        <form
          method="POST"
          action="{{ url_for('search_users_view', username=session['username']) }}"
          id="myForm"
        >
          <div>
            <input
              type="text"
              name="search_query"
              placeholder="Enter username or name"
              required
            />
            <div>
              <button type="submit" class="submit-button">Search</button>
            </div>
          </div>
        </form>

        <!-- Search Results -->
        {% if search_results %}
        <h2>Search Results:</h2>
        <ul>
          {% for user in search_results %}
          <li>
            {{ user.name }}
            <form
              method="POST"
              action="{% if user.is_following %}{{ url_for('unfollow_user_route', user_id=user.id, username=session['username']) }}{% else %}{{ url_for('follow_user_route', user_id=user.id, username=session['username']) }}{% endif %}"
            >
              <button type="submit">
                {% if user.is_following %}Unfollow{% else %}Follow{% endif %}
              </button>
            </form>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>No users found.</p>
        {% endif %}
      </div>

      <br />
      <!-- Back Button to Dashboard -->
      <div>
        <a
          href="{{ url_for('dashboard', username=session['username']) }}"
          class="btn btn-secondary"
          >Back to Dashboard</a
        >
      </div>
    </main>

    <footer>
      <p>&copy; 2024 Remgram. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
